
body{
     font-family: archivo;
     background: pink;

} 

.archivo-<uniquifier> {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

.container{
      max-width: 800px;
      padding: 30px;
      position: relative;
      margin: 60px auto;
      border-radius: 10px;
      box-shadow: 0 30px 50px rgba(65, 65, 65, 0.8);
      background: white;
}

form{
     text-align: center;
}



.current-temperature{
    font-size: 34px;
    position: absolute;
    top: 40%;
    right: 35px;
}
.elements{
    color: red;
}

ul{
    
     display: flex;
     justify-content: space-between;
}

li{
    list-style-type: none;
    
}

footer{

    text-align: center;
}