
body{
     font-family: "archivo", sans-serif;
     background-image: url("Image1.jpg");
     background-size: cover;
     height: 100vh;
} 

.container{
      max-width: 800px;
      padding: 30px;
      position: relative;
      margin: 60px auto;
      border-radius: 10px;
      box-shadow: 0 0 25px rgba(179, 136, 255, 0.8);
      background: #DCC6FF;
}

form{
     text-align: center;
}

p{
    color: grey;
}

.search-city{
    border: none;
}

.search-city{
    border: none;
    margin: 16px;
    padding: 20px 15px;
    background-color: #CDB4FF;
    width: 75%;
    font-size: 16px;
    border-radius: 10px;

}

.submit-button{
    border: none;
    background-color: #FFB3C6;
    color: grey;
    margin: 16px;
    padding: 20px 15px;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 6px;
}

.current-temperature{
    display: flex;
    font-size: 34px;
    position: absolute;
    top: 40%;
    right: 35px;
}


.elements{
    color: red;
}

a{
    color: blue;
}


.forecast-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.forecast-day{
    text-align: center;
    color:grey;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    
}

.forecast-icon{
    text-align: center;
    font-size: 38px;
    
}

.forecast-temperature{
    display: flex;
    color: red;
    margin-top: 10px;
    
}

.temperature{
    padding: 0 10px;
}


.weather-icon{
     
     font-size: 50px;
     margin-top: 20px;
     margin-left: 10px;
}

.weather-temperature{
     font-weight: 500;
     font-size: 88px; 
     margin-left: 10px;
}

.weather-units{
    margin-top: 16px;
    font-size: 20px;
}

footer{

    text-align: center;
}
.weather-temperature{
     font-weight: 500;
     font-size: 88px; 
     margin-left: 10px;
}

.weather-units{
    margin-top: 16px;
    font-size: 20px;
}

footer{

    text-align: center;
}